<nav>
    <ul>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'New', new_book_path %></li>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    </ul>
</nav>