<h1>Edit Book</h1>

<%= form_with model: @book do |form| %>
    <%= form.label :name, "Title:" %>
    <%= form.text_field :name %><br>

    <%= form.label :author, "Author:" %>
    <%= form.text_field :author %><br>

    <%= form.label :year, "Year:" %>
    <%= form.number_field :year %><br>

    <%= form.label :description, "Description:" %>
    <%= form.text_area :description%><br>
    <%= form.submit %>
<% end %>
